# Python bytecode files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment directory
venv/
rasa_env/

# IDE settings
.vscode/

# Windows system files
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# for env file which contain databse info
.env
